<h1>Appoints#index</h1>
<p>Find me in app/views/appoints/index.html.erb</p>

<% @appoints.each do |appoint| %>
  <div class="card">

      <h5><%= appoint.title %></h5>
      <p><%= appoint.description %></p>
      <p><%= appoint.horaire %></p>

<%= link_to 'voir le détail', appoint  %>
<% end %>
  </div>

  <%= link_to 'Prendre rendez-vous', new_appoint_path %>
