<h1>Appoints#show</h1>
<p>Find me in app/views/appoints/show.html.erb</p>

<%= @appoint.title %>
<%= @appoint.description %>
<%= @appoint.horaire %>

<%= link_to 'Retournez à vos reservation', appoints_path  %>

<%= link_to 'Modifier mon rendez-vous', edit_appoint_path(@appoint) %>

<%= link_to "delete", appoint_path(@appoint), data: { turbo_method: :delete}%>
